/* === Board CSS für AddTask Page === */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
}

.layout {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 232px 1fr;
    position: relative;
    width: 100%;
}

.sign-up-btn {
    display: flex;
    width: 174px;
    height: 60px;
    background-color: #4589FF;
    color: white;
    border: none;
    padding: 16px 10px;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
    gap: 4px;
    font-weight: 400;
}

@media (max-width: 1350px) {
    .sign-up-btn {
        font-size: 18px;
        padding: 12px 8px;
    }
}

@media (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
    }
    aside {
        order: 2;
    }
    main {
        order: 1;
        min-height: calc(100vh - 80px);
        margin-bottom: 80px;
    }

    .sign-up-btn {
        display: none;
    }
}
