body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
}

body.no-scroll { 
  overflow: hidden; 
}

.layout {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 232px 1fr;
  position: relative;
  width: 100%;
}

main {
  min-height: calc(100vh - 100px);
  display: flex;
  width: 100%;
}

.content {
  height: calc(100vh - 100px);
  box-shadow: 4px 0px 6px 0px #00000014;
  padding: 0 28.5px 0 27.5px;
  overflow-y: auto;
}

.contacts {
  width: 100%;
  padding: 0 24px 32px;
}

.add-contact-btn-background {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding-top: 32px;
  padding-bottom: 5px;
}

.add-contact-btn {
  position: sticky;
  top: 32px;
  z-index: 10;
  background-color: #4589FF;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 16px 10px;
  font-size: 23px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  width: 100%;
}

.add-contact-btn:hover {
  background-color: #005DFF;
  box-shadow: 0px 4px 8px 0px #00000033;
}

.add-contact-btn:active {
  background-color: white;
  box-shadow: 0px 4px 8px 0px #00000033;
  color: #4589FF;
}

.add-contact-btn-mobile {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 32px;
  bottom: 100px;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px #00000033;
  background-color: #4589FF;
  color: white;
  border: none;
  z-index: 50;
  cursor: pointer;
}

.add-contact-btn-mobile:hover {
  background-color: #005DFF;
}

.add-contact-btn-mobile:active {
  background-color: white;
  color: #4589FF;
}

.letter {
  padding: 17px 36px;
  font-size: 18px;
  background-color: #fff;
}

.hl {
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-top: 1px solid #D1D1D1;
  padding-top: 8px;
  margin-top: 8px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  gap: 25px;
  cursor: pointer;
  border-radius: 10px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 12px;
  color: white;
  border: 2px solid white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 19px;
}

.email {
  color: #4589FF;
}

.contact:hover {
  background-color: #D2E3FF;
}

.contact:active,
.contact.active {
  background-color: #4589FF;
  color: white;
}

.contact:active .email,
.contact.active .email {
  color: white;
}

.contact.active {
  pointer-events: none;
  cursor: default;
}

.right-panel {
  background-color: white;
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

.content::-webkit-scrollbar-track {
  background: white;
  border-radius: 3px;
}

.content::-webkit-scrollbar-thumb {
  background: #A8A8A8;
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Success Message */
.success-message-container {
  position: fixed;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: top 400ms ease-out;
}

.success-message-container.show {
  top: 50%;
}

.success-message {
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  padding: 23px 17px;
  background-color: #4589FF;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #0000001A;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
  aside {
    order: 2;
  }
  main {
    order: 1;
    min-height: 100vh;
    margin-bottom: 100px;
  }
  .content {
    height: auto;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;   
    overflow-y: auto;
    min-height: 0;
  }
  .contact {
    gap: 35px;
  }
  .right-panel {
    display: none;
  }
  .add-contact-btn {
    display: none;
  }
  .add-contact-btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts {
    padding: 24px 12px;
  }
  .add-contact-btn-background {
    display: none;
  }
}

@media (max-width:480px) {
  .content {
    padding: 0 1rem; 
  }
  .contacts {
    padding: 24px 0;
  }
  .contact {
    padding: 15px 10px;
  }
}

@media (max-width:375px) {
  .content {
    padding: 0 10px; 
  }
  .contacts {
    padding: 8px 0;
  }
  .contact {
    padding: 12px 10px;
    gap: 15px;
  }
  .letter {
    padding: 17px 10px;
  }
  .name {
  font-size: 17px;
  }
  .email {
    font-size: 14px;
  }
}