body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
}

.layout {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 232px 1fr;
}

main {
  min-height: calc(100vh - 80px);
}

.content {
  padding: 72px 88px;
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;   
}

h1 {
  font-size: 61px;
  font-weight: 700;
  text-wrap: balance;
}

.arrow-left {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('../assets/icons-signup/arrow-left.svg');
  background-size: contain;
  background-position: center;
}

.arrow-left:hover {
  background-image: url('../assets/icons-signup/arrow-left-hover.svg');
}

.text-content {
  line-height: 1.2;
  hyphens: auto; 
  overflow-wrap: break-word;
}

h2 {
  font-size: 33px;
  font-weight: 700;
  color: #005DFF;
  margin-bottom: 16px
}

section {
  margin-bottom: 24px;
}

section:first-of-type p {
  margin-bottom: 24px;
}

section:first-of-type p:last-child {
  margin-bottom: 0;
}

h3 {
  font-size: 19px;
  font-weight: 700;
  color: #005DFF;
}

.light-blue {
  color: #4589FF;
}

.big-numbers {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 0;
}

.big-numbers li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 58px;
}

li:last-child {
  margin-bottom: 0;
}

.big-numbers .number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 33px;
  font-weight: 700;
  color: #005DFF;
  line-height: 1;
}

/* Screenreader */
.big-numbers {
  list-style: decimal;
}

.big-numbers li {
  list-style-position: outside;
}

.big-numbers li::marker {
  color: transparent;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
  aside {
    order: 2;
  }
  main {
    order: 1;
  }
}