/* Mobile-First - Desktop View below */
.sidebar {
  background: #fff;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  z-index: 10;
  box-shadow: 0px -1px 6px 0px #0000001A;
  padding: 0 16px;
  justify-content: space-between;
  gap: clamp(8px, 2vw, 32px);
}

.sidebar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  gap: clamp(8px, 2vw, 32px);
}

.nav-item {
  text-decoration: none;
  color: #42526E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  flex: 1 1 75px;
  max-width: 120px;
  min-width: 60px;
}

.nav-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;         
}

.nav-item-content span {
  font-size: 15px;
  color: #42526E;
}

.nav-item:hover img,
.nav-item:hover span,
.nav-item:active img,
.nav-item:active span {
  filter: brightness(0) saturate(100%) invert(40%) sepia(96%) saturate(1815%) hue-rotate(213deg) brightness(101%) contrast(101%);
}

.sidebar-footer {
  flex-direction: row;
  flex: 1.2;
  justify-content: space-between;
  gap: clamp(8px, 2vw, 32px);
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 400;
  color: #42526E;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  flex: 1 1 75px;
  max-width: 120px;
  min-width: 60px;
  text-align: center;
}

.footer-item:hover {
  color: #4589FF;
}

.footer-item:active {
  color: #4589FF;
}

/* Desktop-View */
@media (min-width: 769px) {
  aside {
    display: flex; 
    flex-direction: column;
    margin-top: 100px; 
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: calc(100vh - 100px);
    box-shadow: 4px 0 4px -2px #00000029;
    padding: 0;
    gap: 0;
  }

  .sidebar-nav {
    flex-direction: column;
    gap: 15px;
    padding: 42px 23px 0;
  }

  .nav-item {
    justify-content: flex-start;
    padding: 8px 30px;
    flex: unset;
    max-width: unset;
    min-width: unset;
  }

  .nav-item:hover {
    background-color: #E3EEFF;
  }

  .nav-item:hover img,
  .nav-item:hover span,
  .nav-item:active img,
  .nav-item:active span {
  filter: none;
}

  .nav-item.active {
    background-color: #D2E3FF;
    pointer-events: none;
    cursor: default;
  }

  .nav-item-content {
    flex-direction: row;
    gap: 8px;   
  }

  .nav-item-content span {
    font-size: 16px;
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    padding: 0 0 66px 48px;
  }

  .footer-item {
    padding: 8px;
    width: max-content;
    font-size: 16px;
    border-radius: 10px;
    flex: unset;
    max-width: unset;
    min-width: unset;
  }

  .footer-item:hover {
    color: #005DFF;
  }

  .footer-item.footer-active {
    background-color: #4589FF;
    color: white;
    font-weight: 700px;
    pointer-events: none;
    cursor: default;
  }
}
