body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
}

.layout {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 232px 1fr;
  position: relative;
  width: 100%;
}

main {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  gap: 72px;
  padding: 20px 10px;
}

.tasks-wrapper-grid {
  display: grid;
  gap: 5% 3%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "urgent urgent urgent board"
    "todo progress feedback done";
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting-time {
  font-size: 48px;
  color: #2a3647;
}

.greeting-name {
  font-size: 64px;
  font-weight: 700;
  color: #4589ff;
}

.urgent-card {
  grid-area: urgent;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
  background-color: #4589ff;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.urgent-card .middle-row-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 1% 1%;
  border-radius: 30px;
}

.middle-row-left-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.middle-row-left-left-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.middle-row-left-left-top img {
  width: 76px;
  height: 76px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
}

.middle-row-left-left-top span {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.middle-row-left-left-bottom span {
  font-size: 23px;
  color: white;
}

.middle-row-left-middle {
  width: 3px;
  height: 145px;
  background-color: white;
}

.middle-row-left-right {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.middle-row-left-right-top {
  font-size: 33px;
  font-weight: 700;
  color: white;
}

.middle-row-left-right-bottom {
  font-size: 23px;
  color: white;
}

.board-card {
  grid-area: board;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
  background-color: #ffffff;
  transition: all 0.1s ease-in-out;
}

.board-card .middle-row-right {
  border-radius: 30px;
  padding: 20%;
  box-shadow: 0px 0px 4px 0px #00000029;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.middle-row-right-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.middle-row-right-bottom {
  display: flex;
}

.middle-row-right-top img {
  width: 76px;
  height: 76px;
}

.middle-row-right-top span {
  font-size: 48px;
  font-weight: 700;
}

.middle-row-right-bottom span {
  font-size: 23px;
  color: #4589ff;
  text-align: center;
}

.bottom-row-type-1 {
  border-radius: 30px;
  padding: 20%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
}

.todo-card {
  grid-area: todo;
  cursor: pointer;
  text-decoration: none;
  background-color: #d2e3ff;
  box-shadow: 0px 0px 4px 0px #00000029;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.bottom-row-type-1-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-row-type-1-top img {
  width: 76px;
  height: 76px;
  object-fit: cover;
}

.bottom-row-type-1-top span {
  font-size: 48px;
  font-weight: 700;
}

.bottom-row-type-1-bottom span {
  font-size: 22px;
  color: #4589ff;
}

.bottom-row-type-2 {
  padding: 20%;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.progress-card {
  grid-area: progress;
  cursor: pointer;
  text-decoration: none;
}

.done-card {
  grid-area: done;
  cursor: pointer;
  text-decoration: none;
}

.feedback-card {
  grid-area: feedback;
  cursor: pointer;
  text-decoration: none;
}

.done-card {
  grid-area: done;
  cursor: pointer;
  text-decoration: none;
}

.bottom-row-type-2-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-row-type-2-top img {
  object-fit: cover;
  height: 76px;
  width: 76px;
}

.bottom-row-type-2-top span {
  font-size: 48px;
  font-weight: 700;
}

.bottom-row-type-2-bottom {
  display: flex;
  justify-content: center;
}

.bottom-row-type-2-bottom span {
  font-size: 23px;
  color: #4589ff;
  text-align: center;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
  aside {
    order: 2;
  }
  main {
    order: 1;
    min-height: calc(100vh - 80px);
    margin-bottom: 120px;
  }
  .main-content-wrapper {
    padding: 0 0;
    height: 100%;
  }
  .tasks-wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "urgent urgent"
      "todo todo"
      "board progress"
      "feedback done";
    padding: 64px 10px 10px;
    gap: 2% 3%;
  }
  .top-row {
    display: none;
  }
  .urgent-card .middle-row-left {
    gap: 16px;
    padding: 4% 6%;
  }
  .middle-row-left-left-top span {
    font-size: 40px;
  }
  .middle-row-left-left-bottom span {
    font-size: 17px;
  }
  .middle-row-left-left {
    gap: 2px;
  }
  .middle-row-left-left-top {
    gap: 8px;
  }
  .middle-row-left-middle {
    height: 118px;
  }
  .middle-row-left-right {
    gap: 2px;
  }
  .middle-row-left-right-top {
    font-size: 23px;
  }
  .middle-row-left-right-bottom {
    font-size: 16px;
  }
  .board-card .middle-row-right {
    justify-content: center;
    align-items: center;
    padding: 10% 15%;  
  }
  .middle-row-right-top,
  .middle-row-right-bottom {
    width: 120px;
  }
  .middle-row-right-bottom span {
    font-size: 19px;
  }
  .bottom-row-type-1 {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8% 15%;  
  }
  .bottom-row-type-1-bottom span {
    font-size: 19px;
  }
  .bottom-row-type-2 {
    align-items: center;
    padding: 10% 15%;  
  }
  .bottom-row-type-2-top,
  .bottom-row-type-2-bottom {
    width: 120px;
  }
  .bottom-row-type-2-top span {
    font-size: 40px;
  }
  .bottom-row-type-2-bottom span {
    font-size: 19px;
  }
}
